<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleExecutable</key>
        <string>JavaApplicationStub</string>
        <key>CFBundleGetInfoString</key>
        <string>Water (1)1.0, Copyright {user} 2004. All rights reserved.</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleIconFile</key>
        <string>Water.icns</string>
        <key>CFBundleIdentifier</key>
        <string>Water-Mimi-Guang</string>
        <key>CFBundleName</key>
        <string>Water</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1.0.1</string>
        <key>Java</key>
        <dict>
            <key>JVMVersion</key>
            <string>1.4+</string>
            <key>MainClass</key>
            <string>water.Water</string>
            <key>Arguments</key>
            <array/>
            <key>VMOptions</key>
            <string>-Xmx1024m -Xms1024m </string>
            <key>ClassPath</key>
            <string>$JAVAROOT/jar_0.jar:$JAVAROOT/core.jar:$JAVAROOT/mpe.jar:$JAVAROOT/gluegen-rt.jar:$JAVAROOT/opengl.jar:$JAVAROOT/verletphysics.jar:$JAVAROOT/toxiclibscore.jar:$JAVAROOT/toxiclibs_p5.jar:$JAVAROOT/jogl.jar:$JAVAROOT/jl1.0.jar:$JAVAROOT/jsminim.jar:$JAVAROOT/minim-spi.jar:$JAVAROOT/minim.jar:$JAVAROOT/mp3spi1.9.4.jar:$JAVAROOT/tritonus_aos.jar:$JAVAROOT/tritonus_share.jar:$JAVAROOT/GLGraphics.jar:$JAVAROOT/libgluegen-rt.jnilib:$JAVAROOT/libjogl_awt.jnilib:$JAVAROOT/libjogl_cg.jnilib:$JAVAROOT/libjogl.jnilib</string>
        </dict>
    </dict>
</plist>
